/* Debug */

.debug #site_header {
    height: 81px;
    background-color: blue;
}

.debug .logo {
    height: 81px;
    background-color: yellow;
    border: 4px solid purple;

}

.debug .buttons {
    height: 81px;
    background-color: yellow;
    border: 4px solid purple;
}

.debug .login {
    height: 81px;
    background-color: yellow;
    border: 4px solid purple;
}

.debug .banner {
    height: 570px;
    background-color: orange;
}

.debug .banner-content {
    height: 500px;
    background-color: green;
}

.debug .white-section {
    height: 800px;
    background-color: white;
}

.debug .image {
    height: 700px;
    background-color: yellow;
}

.debug .content {
    height: 700px;
    background-color: purple;
}

.debug .grey-section {
    height: 800px;
    background-color: grey;
}

.debug .technology-section {
    height: 1300px;
    background-color: rgb(57, 57, 57);
}

.debug .technology-content {
    height: 1000px;
    background-color: red;
}

.debug footer {
    height: 700px;
    background-color: black;
}

.debug .col-4 {
    height: 500px;
    background-color: purple;
    border: 3px solid yellow;
}

.debug .col-2 {
    height: 500px;
    background-color: purple;
    border: 3px solid yellow;
}

.debug .signup {
    height: 130px;
    background-color: green;
}

/* Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
}

.container-header {
    display: flex;
    justify-content: center;
}

.logo,
.login {
    width: 15%;
}

.buttons {
    width: 40%;
}

#site_header {
    width: 100%;
}

.banner-content,
.technology-content {
    width: 70%;
}


.banner,
.white-section,
.grey-section,
.technology-section,
.footer-col {
    justify-content: center;
    align-items: center;
}

.image {
    width: 50%;
}

.content {
    width: 20%;
}

.col-4 {
    width: calc(85% / 12 * 4);
}

.col-2 {
    width: calc(85% / 12 * 2);
}